{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2>Acerca de OnlyFlans</h2>
    <p>
        OnlyFlans es una empresa apasionada por el arte de la pastelería y los postres, fundada en 2021 en el corazón de
        Santiago de Chile. Nacida como un proyecto familiar, nuestro principal objetivo es deleitar a nuestra clientela
        con productos de alta calidad, hechos con dedicación y los mejores ingredientes del mercado.
    </p>
    <p>
        Desde el clásico flan, que inspira nuestro nombre, en OnlyFlans buscamos ofrecer una experiencia dulce y
        memorable. Nuestra tienda está estratégicamente ubicada en la
        comuna de Providencia, a pasos del metro Parque Bustamante, donde te esperamos con los brazos abiertos para que
        disfrutes del verdadero sabor casero.
    </p>
    <p>
        Más que una pastelería, somos un lugar donde la tradición y la innovación se encuentran, creando momentos únicos
        para compartir con tus seres queridos.
    </p>
    <p>
        Proximamente tendremos una nueva carta que incluirá diferentes tipos de postres y pasteles además de nuestros
        clásicos flanes que tanto les encanta a nuestros clientes,
        para tener un acceso preferencial y anticipado no olvides registrarte en nuestra web y ser uno de nuestros
        clientes preferenciales.
    </p>

    <h3>Nuestra Sucursal</h3>
    <p>Visítanos y descubre la magia de nuestros productos. ¡Te esperamos!</p>
    <div class="text-center">
        <img src="{% static 'web/images/sucursal.jpg' %}" alt="Sucursal de OnlyFlans" class="img-fluid mt-3"
            style="max-width: 600px;">
    </div>

    <h3>Horarios de Atención</h3>
    <p>
        Lunes a Viernes: 10:00 AM - 7:00 PM <br>
        Sábados: 11:00 AM - 5:00 PM <br>
        Domingos: Cerrado
    </p>

    <h3>Conoce a Nuestro Equipo</h3>
    <p>
        OnlyFlans es el resultado del esfuerzo y la pasión de un equipo comprometido con ofrecer lo mejor en pastelería.
        Somos una familia que trabaja con amor para brindarte productos frescos y sabrosos, listos para endulzar tu día.
        Nos aseguramos de que cada flan y postre que sale de nuestra cocina esté hecho con la máxima calidad y
        dedicación.
    </p>
    <p>
        Te invitamos a conocernos y compartir la experiencia de disfrutar los postres que preparamos con tanto cariño.
        ¡Esperamos verte pronto!
    </p>
</div>
{% endblock %}